body {
  max-width: 700px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #fff;
}

header {
  display: flex;
  padding: .5rem 1rem
}
header .title {
  font-weight: bold;
}
header .menu {
  display: flex;
  margin-left: auto;
  font-size: small;
}

.textbox {
  outline: none;
  padding: .5rem 1rem;
  margin: 0 1rem 1rem;
  width: calc(100% - 2rem);
  background: #fff;
  border: 2px solid #000;
}
.textbox:focus {
  background: #f1efe1;
}

.todo {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}
.todo:hover {
  background: #ffeac4;
}

.todo strike {
  color: #898989;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}
.empty > div {
  text-align: center;
}
.empty .face {
  font-size: xx-large;
  margin-bottom: 1rem;
}

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  margin-right: 1rem;
}
button .icon {
  margin: 0;
}

.actions {
  display: flex;
  padding-left: .5rem;
  margin-left: auto;
  margin-right: -.3rem;
}

.btn {
  cursor: pointer;
  display: flex;
  outline: 0;
  padding: 2px;
  margin: 0 .3rem;
  border: 2px solid #222222;
}
.btn.red {
  background: #ffc8c8;
}
.btn.gray {
  background: #aaa;
}
.btn.green {
  background: #d7fbd7;
}

.complete {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  padding: 1px 5px;
}
.complete .icon {
  margin-right: .5rem;
}